@import "../../../scss/index.scss";

.menu-top {
  display: flex;

  button {
    color: $font-light;
  }

  &:hover {
    color: $primary-color;
  }

  &:focus,
  &:active {
    color: $font-light;
  }

  &__left {
    &-logo {
      width: 120px;
      padding: 0 10px;
      margin-left: 80px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}