@import "../scss/index.scss";


.ant-menu>.ant-menu-item:hover,
.ant-menu>.ant-menu-submenu:hover,
.ant-menu>.ant-menu-item-active,
.ant-menu>.ant-menu-submenu-active,
.ant-menu>.ant-menu-item-open,
.ant-menu>.ant-menu-submenu-open,
.ant-menu>.ant-menu-item-selected,
.ant-menu>.ant-menu-submenu-selected {
  color: #FF5733;
  border-bottom: 2px solid #FF5733;
}

// .ant-layout {
//   &-header {
//     background-color: gray;
//   }

//   &-sider {
//     background-color: gray;
//   }
// }

// .ant-menu-dark {
//   background-color: gray;
// }

// .ant-menu .ant-menu-dark .ant-menu-root .ant-menu-inline {
//   background-color: gray;
// }

.ant-menu-item {
  background-color: #FF5733;

  &-selected {
    background-color: $primary-color  !important;
  }
}



.layout-admin {
  transition: margin-left 0.2s;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
    height: 65px;
  }

  &__content {
    min-height: calc(100vh - 65px);
    padding: 90px 25px 25px 25px;
  }

  &__footer {
    padding: 0;
    margin: 20px;
  }
}